@charset "UTF-8";
/*Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wrapper {
  max-width: 100%; }

.wrapper__container {
  margin: 0 auto; }

.registration-btn, .btn-registration {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 116.66667%;
  color: #050038;
  font-weight: 500;
  color: #FFFFFF;
  width: 180px;
  height: 50px;
  background: #0555FF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

@media (max-width: 488px) {
  .registration-btn, .btn-registration {
    font-size: calc(14px + (9 + 9 * 0.7) * ((100vw - 375px) / 1440));
    border-radius: 20px; } }

.registration-btn, .btn-registration {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 116.66667%;
  color: #050038;
  font-weight: 500;
  color: #FFFFFF;
  width: 180px;
  height: 50px;
  background: #0555FF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

@media (max-width: 488px) {
  .registration-btn, .btn-registration {
    font-size: calc(14px + (9 + 9 * 0.7) * ((100vw - 375px) / 1440));
    border-radius: 20px; } }

.header {
  padding: 0px 6px; }

.header__nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  max-width: 1320px; }

.header__logo {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 116.66667%;
  color: #050038;
  font-weight: 500;
  flex: 1 1 auto; }

.header__nav-items {
  display: flex;
  padding-right: 125px; }
  .header__nav-items *:last-child {
    margin-right: 0px; }

.header__nav-item {
  margin-right: 65px; }

.nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 118.75%;
  color: #050038;
  transition: all 0.3s ease 0s;
  font-weight: 400; }

.autorization {
  display: flex;
  align-items: center; }

.login-btn {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 116.66667%;
  color: #050038;
  font-weight: 400;
  color: #050038;
  margin-right: 35px; }

.navbar {
  display: none; }

.navbar {
  max-height: 50px; }

.hamb {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.hamb__field {
  position: relative;
  height: 17px;
  z-index: 5;
  right: 15px;
  top: 15px; }

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
  transition: 0.2s;
  cursor: pointer; }

.isActive .bar:nth-child(1) {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
  transition: 0.2s;
  transform: translateY(-8px) rotate(45deg);
  top: calc(50% - -6px);
  position: absolute; }

.isActive .bar:nth-child(2) {
  opacity: 0; }

.isActive .bar:nth-child(3) {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
  transition: 0.2s;
  transform: translateY(8px) rotate(-45deg);
  top: -1px;
  bottom: calc(50% - 1px);
  position: absolute; }

.menu {
  display: none; }

.popup {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  display: flex;
  transition: 0.3s;
  opacity: 0.9; }

.popup.open {
  top: 0; }

.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 50px 0;
  overflow: auto; }

.popup .menu > li {
  width: 100%; }

.popup .menu > li > a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #21243d; }

.popup .menu > li > a:hover {
  background-color: rgba(122, 82, 179, 0.1); }

@media (max-width: 1320px) {
  .header__nav {
    padding: 0px 25px 0px 25px; }
  .header__nav-items {
    padding-right: 85px; }
  .header__nav-item {
    margin-right: 35px; } }

@media (max-width: 969px) {
  .header__nav-items {
    display: none; } }

@media (max-width: 488px) {
  .autorization {
    display: none; } }

.registration-btn, .btn-registration {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 116.66667%;
  color: #050038;
  font-weight: 500;
  color: #FFFFFF;
  width: 180px;
  height: 50px;
  background: #0555FF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

@media (max-width: 488px) {
  .registration-btn, .btn-registration {
    font-size: calc(14px + (9 + 9 * 0.7) * ((100vw - 375px) / 1440));
    border-radius: 20px; } }

.main__container {
  max-width: 966px;
  margin: 0 auto;
  padding: 65px 0px 100px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .main__container *:last-child {
    margin-bottom: 0; }

.main__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 125%;
  text-align: center;
  color: #050038;
  margin-bottom: 30px; }

.title__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 145.45455%;
  text-align: center;
  color: #5B5E6D;
  margin-bottom: 35px; }

.main-btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px; }

.btn__show-video {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #050038;
  font-weight: 500;
  color: #0555FF;
  width: 251px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(176, 201, 253, 0.3);
  border-radius: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.main__img-container {
  flex: 1 1 966px;
  max-width: 966px;
  height: 706px;
  position: relative;
  margin-bottom: 150px; }

.main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.our-clients__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 84.21053%;
  text-align: center;
  color: #5B5E6D;
  margin-bottom: 25px; }

.our-clients__companies {
  display: flex; }
  .our-clients__companies *:last-child {
    margin-right: 0; }

.company__logo-box {
  margin-right: 51px; }

@media (max-width: 1325px) {
  .main__container {
    padding: 35px 0px 60px 0px; }
  .main__title {
    font-size: calc(45px + 48 * (100vw / 1320)); }
  .title__description {
    font-size: calc(19px + 11 * (100vw / 1320)); } }

@media (max-width: 1025px) {
  .main__container {
    padding: 35px 25px 60px 25px; }
  .main-btn__container {
    margin-bottom: 45px; }
  .main__img-container {
    margin-bottom: 55px; }
  .our-clients__description {
    margin-bottom: 45px; }
  .our-clients__companies {
    display: block; }
  .company__logo-box {
    margin: 0px 0px 30px 0px;
    display: flex;
    justify-content: center; } }

@media (max-width: 820px) {
  .main-btn__container {
    margin-bottom: 25px; }
  .main__img-container {
    height: 520px;
    margin-bottom: 35px; }
  .main__title {
    font-size: calc(39px + (48 + 48 * 0.7) * ((100vw - 375px) / 1440)); }
  .title__description {
    font-size: calc(15px + (11 + 11 * 0.7) * ((100vw - 375px) / 1440)); }
  .btn__show-video {
    font-size: calc(14px + (9 + 9 * 0.7) * ((100vw - 375px) / 1440)); } }

@media (max-width: 768px) {
  .main__img-container {
    height: 460px; } }

@media (max-width: 568px) {
  .main__img-container {
    height: 300px; } }

@media (max-width: 488px) {
  .main-btn__container {
    margin-bottom: 25px; }
  .btn__show-video {
    border-radius: 20px; }
  .main__img-container {
    margin-bottom: 25px;
    height: 250px; } }

.services__container {
  max-width: 1322px;
  margin: 0 auto;
  padding: 100px 0px 149px 0px; }
  .services__container *:last-child {
    margin-bottom: 0; }

.services__title-container {
  max-width: 895px;
  margin: 0 auto; }
  .services__title-container *:last-child {
    margin-bottom: 0; }

.services__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 126.19048%;
  text-align: center;
  color: #050038;
  margin-bottom: 20px; }

.services-title__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #5b5e6d;
  margin-bottom: 45px; }

.services-btn__container {
  display: flex;
  justify-content: center; }

.services-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 245px;
  height: 50px;
  background: rgba(5, 85, 255, 0.1);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 213.33333%;
  color: #0555ff; }
  .services-btn span {
    width: 24.3px;
    height: 24.3px;
    border-radius: 50%;
    background: #ffffff;
    color: #0555ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    font-size: 15px;
    font-weight: bold; }

.services__box {
  padding: 143px 0px 0px 0px; }

.services__box-container {
  padding: 0px 0px 103px 0px;
  display: flex;
  justify-content: space-between; }

.services__box-info {
  flex: 1 1 auto;
  font-family: "Inter", sans-serif;
  margin-right: 173px;
  padding: 55px 0px 0px 115px; }

.services__box-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 126.38889%;
  color: #050038;
  margin-bottom: 20px; }

.services__box-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #5b5e6d;
  margin-bottom: 30px;
  max-width: 510px; }

.services__box-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 122.22222%;
  color: #000000;
  border-bottom: 2px solid #0555ff; }

.services__box-image-container {
  position: relative;
  flex: 1 1 460px;
  max-width: 460px;
  height: 460px; }

.services__box-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; }

.reverse-container {
  flex-direction: row-reverse; }

.reverse-info {
  padding: 55px 141px 0px 0px;
  margin-right: 0; }

.image-container-reverse {
  margin-right: 123px; }

@media (max-width: 1320px) {
  .services__box-container {
    padding: 0px 25px 0px 25px; }
  .services__title {
    font-size: calc(25px + 21 * (100vw / 1320)); }
  .services-title__description {
    font-size: calc(15px + 10 * (100vw / 1320)); }
  .services__box-info {
    flex: 1 1 auto;
    font-family: "Inter", sans-serif;
    padding: 55px 0px 0px 0px; }
  .reverse-info {
    margin-right: 0;
    margin-left: 150px; }
  .services__box-title {
    font-size: calc(48px + 36 * (100vw / 1320)); }
  .services__box-description {
    font-size: calc(15px + 10 * (100vw / 1320)); }
  .services__box-image-container {
    margin: 0 auto; } }

@media (max-width: 1025px) {
  .services__box-container {
    display: block;
    padding: 0px 0px 35px 0px; }
  .services__title-container {
    padding: 0px 25px 0px 25px; }
  .services__box {
    padding: 45px 0px 0px 0px; }
  .services__box-info {
    text-align: center;
    padding: 25px 25px 0px 25px;
    margin-right: 0; }
  .reverse-info {
    margin: 0px 0px 0px 0px; }
  .services__box-description {
    text-align: center;
    max-width: 100%; }
  .services__box-image-container {
    margin-top: 35px;
    flex: 1 1 100%;
    max-width: 100%;
    height: 320px; } }

@media (max-width: 768px) {
  .services__container {
    padding: 25px 0px 35px 0px; }
  .services__box-container {
    padding: 0px 0px 25px 0px; } }

@media (max-width: 488px) {
  .services__title {
    font-size: calc(21px + (21 + 21 * 0.7) * ((100vw - 375px) / 1440)); }
  .services-title__description {
    font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 375px) / 1440)); }
  .services__box-title {
    font-size: calc(40px + (36 + 36 * 0.7) * ((100vw - 375px) / 1440)); }
  .services__box-description {
    font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 375px) / 1440)); }
  .services__box-link {
    font-size: calc(14px + (9 + 9 * 0.7) * ((100vw - 375px) / 1440)); } }

.reviews {
  padding: 150px 0px 130px 0px;
  background: #F8F8FA; }

.reviews__container {
  max-width: 1320px;
  margin: 0 auto;
  font-family: "Inter", sans-serif; }

.reviews__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  color: #5B5E6D;
  margin-bottom: 35px; }

.reviews__title {
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  color: #050038;
  margin-bottom: 60px; }

.reviews__box-container {
  display: flex;
  flex-wrap: wrap; }

.reviews__box {
  flex: 1 1 420px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 420px;
  max-height: 370px;
  font-family: "Inter", sans-serif;
  padding: 20px 0px 0px 20px;
  margin: 0px 20px 30px 0px;
  overflow-x: scroll; }
  .reviews__box *:nth-child(3) {
    margin-bottom: 0; }

.reviews__info {
  display: flex; }

.reviews__user {
  margin-left: 10px;
  flex: 1 1 auto;
  margin-bottom: 10px; }

.reviews__user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #050038; }

.reviews__user-nickname {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #596068; }

.reviews__social-container {
  padding-right: 20px; }

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171.42857%;
  color: #050038;
  padding-right: 40px;
  padding-bottom: 10px; }

@media (max-width: 1320px) {
  .reviews {
    padding: 80px 0px 80px 0px; }
  .reviews__box-container {
    display: flex;
    justify-content: center; }
  .reviews__box {
    margin-bottom: 20px; } }

@media (max-width: 1025px) {
  .reviews__container {
    padding: 0px 25px 0px 25px; } }

@media (max-width: 488px) {
  .autorization {
    display: none; }
  .reviews {
    padding: 25px 0px 25px 0px; }
  .reviews__title {
    font-size: calc(45px + (36 + 36 * 0.7) * ((100vw - 375px) / 1440)); }
  .reviews__text {
    font-size: calc(12px + (7 + 7 * 0.7) * ((100vw - 375px) / 1440)); }
  .reviews__box {
    margin: 0px 0px 20px 0px; }
  .reviews__subtitle {
    font-size: calc(13px + (8 + 8 * 0.7) * ((100vw - 375px) / 1440)); } }

.footer {
  background: #130C3A;
  font-family: "Inter", sans-serif; }

.footer__container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 155px 0px 25px 0px; }

.footer__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 118.05556%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px; }

.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.footer-input {
  flex: 0 1 auto;
  width: 748px;
  height: 80px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px 0px 0px 10px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 145.45455%;
  color: #C1C1C1; }

.footer__get-start {
  width: 221px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  background: #0555FF;
  border-radius: 0px 10px 10px 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 145.45455%;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap; }

.footer__navigate {
  padding: 150px 0px 25px 0px;
  display: flex; }

.footer__spellon {
  flex: 1 1 auto; }

.spellon__title {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 121.42857%;
  color: #FFFFFF;
  margin-bottom: 30px; }

.spellon__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #7884A6; }

.resources__title {
  display: block;
  margin-bottom: 32px; }

.footer__nav-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #FFFFFF; }

.footer__nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 262.5%;
  color: #7884A6; }

.footer__company-container {
  margin-left: 111px; }

.footer__legal-container {
  margin-left: 104px; }

.footer__copyright {
  background: #0F0937;
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #FFFFFF;
  height: 59px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1320px) {
  .footer__navigate {
    padding: 80px 25px 25px 25px; }
  .footer__title {
    font-size: calc(48px + 36 * (100vw / 1320)); } }

@media (max-width: 1025px) {
  .footer__container {
    padding: 80px 25px 25px 25px; }
  .footer-input {
    flex: 1 1 auto;
    width: 80%;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px 0px 0px 10px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 145.45455%;
    color: #C1C1C1; }
  .footer__get-start {
    width: 221px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    background: #0555FF;
    border-radius: 0px 10px 10px 0px;
    font-weight: 400;
    font-size: 22px;
    line-height: 145.45455%;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap; }
  .footer__navigate {
    flex-direction: column;
    text-align: center; }
  .footer__spellon-container {
    margin-bottom: 25px; }
  .footer__resources-container {
    margin-bottom: 25px; }
  .footer__nav-title {
    margin-bottom: 10px; }
  .footer__company-container {
    margin-left: 0;
    margin-bottom: 25px; }
  .footer__legal-container {
    margin-left: 0; } }

@media (max-width: 488px) {
  .footer__container {
    padding: 60px 25px 25px 25px; }
  .footer__navigate {
    padding: 60px 25px 0px 25px; }
  .footer-input {
    font-size: calc(14px + (11 + 11 * 0.7) * ((100vw - 375px) / 1440));
    padding-left: 15px; }
  .footer__get-start {
    font-size: calc(14px + (11 + 11 * 0.7) * ((100vw - 375px) / 1440)); }
  .footer__copyright {
    font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 375px) / 1440)); } }
